.containerMenu {
  position: relative;
}

.menu {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e282c;
}


.containerCloseMenu {
  padding: 10px;
  background-color: #222d32;
}

.closeMenu {
  display: block;
  margin: auto 0 auto auto;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;

  & > img {
    height: 35px;
  }

  &:hover {
    cursor: pointer;
  }
}

.openMenu {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222d32;
  border: none;

  & > img {
    width: 35px;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes showMenuA {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0);
  }
}

.showMenu {
  animation-name: showMenuA;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes hiddenMenuA {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-500px);
  }
}

.hiddenMenu {
  animation-name: hiddenMenuA;
  animation-duration: .5s;
  animation-fill-mode: forwards;
 }
.containerUsername {
  background-color: #222d32;
  text-align: center;
  padding: 10px 0 15px 0;
}

.greating {
  margin: 0 0 5px 0;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.menuItems {
  padding: 10px 0;
  margin: 0;
}

.menuItem {
  padding: 10px;
  list-style: none;
  transition: background-color .5s ease;

  &:hover {
    background-color: #162024;
  }
}

.link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 10px;

  & > img {
    margin-right: 8px;
  }

}

.containerLogout {
  padding: 10px;
}

.logout {
  display: block;
  margin: auto 0 auto auto;
}

